html, body
{
	height: 100%;
}

body
{
	color: #111111;
	background-color: #ffffff;
	font-family: open_sanslight, sans-serif;
	margin: 0;
}

@font-face {
	font-family: 'open_sanslight';
	src: url('openserif-webfont.eot');
	src: url('openserif-webfont.eot?#iefix') format('embedded-opentype'),
		 url('openserif-webfont.woff') format('woff'),
		 url('openserif-webfont.ttf') format('truetype'),
		 url('openserif-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6
{
	color: #505050;
	font-family: helvetica, open_sanslight, sans-serif;
	margin: 20px 0;
}

h1
{
	font-size: 56px;
}

h3 a
{
	color: #505050;
}

p
{
	margin: 20px 0;
}

a
{
	color: #888888;
	text-decoration: none;
}

a:hover
{
	color: #444444;
}

time:before
{
	content: "\f073";
	font-family: FontAwesome;
	margin: 5px;
}

.tags:before
{
	content: "\f02c";
	font-family: FontAwesome;
	margin: 5px;
}

.warning:before
{
	content: "\f071";
	font-family: FontAwesome;
	margin: 5px;
}

a[target="_blank"]
{
	content: "\f08e";
	font-family: FontAwesome;
	margin: 5px;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('fontawesome-webfont.eot');
	src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fontawesome-webfont.woff') format('woff'),
		 url('fontawesome-webfont.ttf') format('truetype'),
		 url('fontawesome-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

hr
{
	border-color: #eeeeee;
	width: 75%;
	position: relative;
	right: 50px;
	float: left;
}

hr:after, hr:before
{
	content: "";
	background-color: #cccccc;
	width: 20px;
	height: 1px;
	position: absolute;
	right: -5px;
	top: 6px;

	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

hr:before
{
	top: -7px;

	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#header img
{
	width: 90%;
	margin: 5%;
}

#content
{
	width: calc(70% - 42px);
	width: -moz-calc(70% - 42px);
	width: -webkit-calc(70% - 42px);
	padding: 100px 0 0 50px;
	margin-left: 23%;
}

#sidebar
{
	background-color: #005EB9;
	width: 23%;
	height: 100%;
	position: fixed;
	overflow: auto;
}

ul#menu
{
	list-style: none;
	width: 80%;
	position: absolute;
	right: 0;
}

#menu a#current
{
	border-right-color: #666666;
}

#menu a
{
	color: #ffffff;
	border-right: 5px solid #555;
	text-decoration: none;
	font-size: 2vw;
	letter-spacing: 0;
	padding: 10px;
	display: block;

	transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}

#menu a:hover
{
	letter-spacing: 4px;
}

.box
{
	max-width: 740px;
	min-height: 340px;
	position: relative;
}

.box > a, .box > img
{
	margin-right: 10px;
	float: left;
}

.box img
{
	border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.box a img
{
	width: 100%;

	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.box a img:hover
{
	border-radius: 0px;
	-ms-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.box:after
{
	content: "";
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
}

#sidebar.topdown
{
	width: 100%;
	height: auto;
	position: relative;
}

#sidebar.topdown #menu
{
	width: auto;
	position: relative;
}

#sidebar.topdown #menu a
{
	font-size: 10vw;
}

#content.topdown
{
	width: auto;
	margin-left: 0;
}