<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="/style/jquery.cookie.js"></script>
<script type="text/javascript">
	$(document).ready (function ()
	{
		if (parseInt($("body").css ("width")) < 1000)
			$("#sidebar, #content").addClass ("topdown");

		if ($.cookie('theme') == 'black')
			$("link").attr("href", "/style/main-black.css");

		$("#white").click (function ()
		{
			$("link").attr("href", "/style/main-white.css");
			$.cookie('theme', 'white');
		});
		$("#black").click (function ()
		{
			$("link").attr("href", "/style/main-black.css");
			$.cookie('theme', 'black');
		});
	});
</script>