---
---
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title | titlecase }}</title>
	<link rel="stylesheet" type="text/css" href="/style/pygments/solarized-light.css">
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	{{ page.head }}
</head>
<body>
 	<div id="sidebar">
		<a id="header" href="/"><img src="/style/idiotic.svg" alt="idiotic"></a>
		{% include menu.html %}
	</div>
	<div id="content">
<!-- 		<h1>{{ page.title }}</h1>
		<hr>
		<br><br>
 -->		{{ content }}
	</div>
 </body>
</html>