---
layout: default
class: post
head: |
  <link rel="stylesheet" href="/style/autumn.css">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url }}">
  <link rel="author" href="{{ site.url }}/about/" title="{{ site.author }}">
  <link rel="home" href="{{ site.url }}" title="{{ site.name }}">
selected: "/blog/"
---
<article>
	<header>
		<h1>{{ page.title }}</h1>
		<time datetime="{{ page.date }}">{% assign d = page.date | date: "%-d"  %}
			{{ page.date | date: "%B" }}
			{% case d %}
				{% when '1' or '21' or '31' %}{{ d }}st,
				{% when '2' or '22' %}{{ d }}nd,
				{% when '3' or '23' %}{{ d }}rd,
				{% else %}{{ d }}th,
			{% endcase %}
		{{ page.date | date: "%Y" }}</time>
	</header>
	{{ content }}
</article>
<div id="nav">
{% if page.next != nil %} <a href="{{ page.next.url }}">&larr; {{ page.next.title }}</a> &ndash; {% endif %}
<a href="/blog/">Index</a>
{% if page.previous != nil %}  &ndash; <a href="{{ page.previous.url }}">{{ page.previous.title }} &rarr;</a><br> {% endif %}
</div>
<div id="disqus_thread"></div>
<script>
	var disqus_config = function () {
		this.page.url = "{{ site.url }}{{ page.url }}";
		this.page.identifier = "{{ page.id }}";
		this.page.title = "{{ page.title }}";
	};

	(function() {  // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//idiotic.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
